<p>newslist works!</p>
<div class="row">
  <div class="col-md-6">
    <h2>{{ "anms.examples.crud.subtitle1" }}</h2>
    <mat-card *ngFor="let post of posts " >
      <h3>{{ post.payload.doc.data().text }}</h3>
      <small>{{ post.payload.doc.data().link }}</small>
      <small>{{ post.payload.doc.data().likes }}</small>
      <small>{{ post.payload.doc.data().views }}</small>
      <small>{{ post.payload.doc.data().createdOn }}</small>
    </mat-card>
    <p *ngIf="(posts | async)?.length === 0">
    Empty
    </p>
    <button
      type="button"
      mat-fab
      color="primary"
      class="add"
      *ngIf="!isEditing"
      (click)="addNew()"
    >
       
    </button>
  </div>
</div>
